## Fitbit Task

## 1. Read this dataset in pandas , mysql 
Im using Postgresql as my sql database

In [1]:
import pandas as pd

In [2]:
fb=pd.read_csv(r'FitBit data.csv',header = 0)

In [3]:
fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    object
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 53.7+ KB

## 3.convert all the dates available in dataset to timestamp format in pandas and in sql you to convert it in date format

In [4]:
fb['ActivityDate'] = pd.to_datetime(fb['ActivityDate'])

## 4. Find out in this data that how many unique id's we have

In [5]:
len(fb['Id'].unique())

35

## 5. which id is one of the active id that you have in whole dataset

In [28]:
fb.groupby('Id')['Calories'].mean().sort_values(ascending = False).head(1)

Id
8877689391    3451.166667
Name: Calories, dtype: float64

## 6.How many of them have not logged there activity find out in terms of number of ids

In [21]:
len(fitbit_df['Id'].unique()) - len(fitbit_df[fitbit_df['LoggedActivitiesDistance'] != 0]['Id'].drop_duplicates())

Id                          433
ActivityDate                433
TotalSteps                  433
TotalDistance               433
TrackerDistance             433
LoggedActivitiesDistance    433
VeryActiveDistance          433
ModeratelyActiveDistance    433
LightActiveDistance         433
SedentaryActiveDistance     433
VeryActiveMinutes           433
FairlyActiveMinutes         433
LightlyActiveMinutes        433
SedentaryMinutes            433
Calories                    433
dtype: int64

In [24]:
len(fb['Id'].unique())-len(fb[fb['LoggedActivitiesDistance'] != 0] ['Id'].drop_duplicates())

29

## 7.Find out who is the laziest person id that we have in dataset

In [27]:
fb.groupby('Id')['Calories'].mean().sort_values().head(1)

Id
1624580081    1352.894737
Name: Calories, dtype: float64

## 8.Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [29]:
#as per the research a healthy person burns an average of 2250 calories per day
fb[fb['Calories'] >= 2500]['Id'].drop_duplicates()

38     1644430081
60     1927972279
72     2022484408
138    2891001357
165    4020332650
276    4702921684
303    5577150313
315    6117666160
324    6290855005
343    6775888955
366    7007744171
384    7086361926
390    8053475328
413    8378563200
426    8583815059
434    8792009665
445    8877689391
Name: Id, dtype: int64

## 9. how many person are not a regular person with respect to activity try to find out those

In [30]:
fb.groupby('Id').describe()['Calories']['std'].sort_values(ascending=False).head(1)

Id
6775888955    1153.500951
Name: std, dtype: float64

## 10.who is the thired most active person in this dataset

In [31]:
fb.groupby('Id')['Calories'].mean().sort_values(ascending = False).head(3).tail(1)

Id
5577150313    3300.272727
Name: Calories, dtype: float64

## 11.who is the 5th most laziest person avilable in dataset find it out

In [32]:
fb.groupby('Id')['Calories'].mean().sort_values().head(5).tail(1)

Id
2320127002    1532.083333
Name: Calories, dtype: float64

## 12. find out what is the total accumulative calories burn for a person

In [33]:
fb.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64