## Task

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

2 .Total working days for each agents 

3. Total query that you have taken 

4. total Feedback that you have received 

5. a agent name who have average rating between 3.5 to 4 

6 . Agent name who have rating lesss then 3.5 

7 . agent name who have rating more then 4.5 

8 . how many feedaback agents have received more then 4.5 average

9 . average weekly response time for each agent 

10 . average weekely resolution time for each agents 

11 . list of all agents name 

12 . percentage of chat on which they have received a feedback 

13 . Total contributation hour for each and every agents weekly basis 

14. total percentage of active hour for a month

## Data Preperation

In [1]:
alr= pd.read_excel(r'Agent login Report.xls',skiprows = 2)

In [3]:
ap = pd.read_excel(r'Agent Performance.xlsx',header = 1)

In [5]:
alr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SL No        1000 non-null   int64
 1   Agent        1000 non-null   object
 2   Date         1000 non-null   object
 3   Login Time   1000 non-null   object
 4   Logout Time  1000 non-null   object
 5   Duration     1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [6]:
alr['Date'] = pd.to_datetime(alr['Date'])

In [8]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SL No                    2160 non-null   int64
 1   Date                     2160 non-null   object
 2   Agent Name               2160 non-null   object
 3   Total Chats              2160 non-null   int64
 4   Average Response Time    2160 non-null   object
 5   Average Resolution Time  2160 non-null   object
 6   Average Rating           2160 non-null   float64
 7   Total Feedback           2160 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 135.1+ KB

In [9]:
ap['Date'] = pd.to_datetime(ap['Date'])

In [17]:
ap['week']=ap['Date'].dt.weekofyear

## 1.Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [20]:
ap.groupby(['Agent Name','week'])['Average Rating'].mean()

Agent Name  week
Abhishek    26      0.000000
            27      0.000000
            28      0.000000
            29      0.000000
            30      0.000000
                      ...
Zeeshan     26      0.000000
            27      1.307143
            28      2.948571
            29      3.180000
            30      2.760000
Name: Average Rating, Length: 350, dtype: float64

## 2.Total working days for each agents

In [25]:
ap.groupby('Agent Name')['Date'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: Date, Length: 70, dtype: int64

## 3. Total query that you have taken

In [26]:
ap.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

## 4. Total Feedback that they have received

In [28]:
ap.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

## 5. A agent name who have average rating between 3.5 to 4

In [31]:
ap[(ap['Average Rating'] > 3.5) & (ap['Average Rating'] < 4)]['Agent Name'].unique()

array(['Swati ', 'Manjunatha A', 'Prateek _iot ', 'Nandani Gupta',
       'Jaydeep Dixit', 'Mahesh Sarade', 'Zeeshan ', 'Hrisikesh Neogi',
       'Khushboo Priya', 'Wasim ', 'Jawala Prakash', 'Nishtha Jain',
       'Prerna Singh', 'Boktiar Ahmed Bappy', 'Muskan Garg',
       'Harikrishnan Shaji', 'Deepranjan Gupta', 'Shivan K',
       'Madhulika G', 'Rishav Dash', 'Maitry ', 'Mithun S', 'Aditya_iot ',
       'Ishawant Kumar', 'Ayushi Mishra', 'Shivananda Sonwane',
       'Sandipan Saha', 'Anirudh ', 'Jayant Kumar', 'Saurabh Shukla',
       'Aditya Shinde'], dtype=object)

## 6.Agent name who have rating less than 3.5

In [33]:
ap[ap['Average Rating'] < 3.5]['Agent Name'].unique()

array(['Nandani Gupta', 'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ',
       'Shiva Srivastava', 'Dibyanshu ', 'Ashish ', 'Uday Mishra',
       'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim ', 'Samprit ',
       'Maitry ', 'Abhishek ', 'Rishav Dash', 'Aravind ', 'Tarun ',
       'Muskan Garg', 'Ankit Sharma', 'Bharath ', 'Ashad Nasim',
       'Vasanth P', 'Aditya ', 'Amersh ', 'Sandipan Saha',
       'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ', 'Zeeshan ',
       'Anurag Tiwari', 'Ankitjha ', 'Saif Khan', 'Jaydeep Dixit',
       'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas', 'Rohan ', 'Vivek ',
       'Nitin M', 'Shivan_S ', 'Spuri ', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot ', 'Jawala Prakash',
       'Sowmiya Sivakumar', 'Nishtha Jain', 'Swati ', 'Khushboo Priya',
       'Shubham Sharma', 'Manjunatha A', 'Ameya Jain',
       'Harikrishnan Shaji', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Mukesh ', 'Hrisikesh Neogi', 'Mithun S', 'Prerna Singh',
       'Suraj S Bilgi', 'Shivan K', 'Mahesh Sarade', 'Madhulika G',
       'Boktiar Ahmed Bappy', 'Deepranjan Gupta', 'Ishawant Kumar',
       'Shivananda Sonwane'], dtype=object)

## 7. Agent name who have rating more then 4.5

In [34]:
ap[ap['Average Rating'] > 3.5]['Agent Name'].unique()

array(['Prerna Singh', 'Ameya Jain', 'Mahesh Sarade', 'Swati ', 'Mukesh ',
       'Saikumarreddy N', 'Sanjeev Kumar', 'Shubham Sharma',
       'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya', 'Suraj S Bilgi',
       'Harikrishnan Shaji', 'Hrisikesh Neogi', 'Shivan K',
       'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Shiva Srivastava', 'Muskan Garg',
       'Prateek _iot ', 'Aditya_iot ', 'Nandani Gupta', 'Jaydeep Dixit',
       'Zeeshan ', 'Chaitra K Hiremath', 'Rishav Dash', 'Wasim ',
       'Prabir Kumar Satapathy', 'Bharath ', 'Jawala Prakash',
       'Ayushi Mishra', 'Maitry ', 'Aravind ', 'Sudhanshu Kumar',
       'Aditya Shinde', 'Sandipan Saha', 'Anirudh ', 'Jayant Kumar',
       'Saurabh Shukla', 'Maneesh ', 'Mukesh Rao ', 'Shivan_S ', 'Vivek ',
       'Ashad Nasim', 'Ankitjha '], dtype=object)

## 8. How many feedback agents have received more then 4.5 average

In [46]:
ap[ap['Average Rating'] > 4.5].groupby('Agent Name').count()

,SL No,Date,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,week
Agent Name,,,,,,,,
Aditya Shinde,7,7,7,7,7,7,7,7
Aditya_iot,6,6,6,6,6,6,6,6
Ameya Jain,8,8,8,8,8,8,8,8
Anirudh,1,1,1,1,1,1,1,1
Ankitjha,1,1,1,1,1,1,1,1
Aravind,11,11,11,11,11,11,11,11
Ayushi Mishra,8,8,8,8,8,8,8,8
Bharath,17,17,17,17,17,17,17,17
Boktiar Ahmed Bappy,8,8,8,8,8,8,8,8
Chaitra K Hiremath,2,2,2,2,2,2,2,2
Deepranjan Gupta,7,7,7,7,7,7,7,7
Harikrishnan Shaji,7,7,7,7,7,7,7,7
Hrisikesh Neogi,11,11,11,11,11,11,11,11
Ishawant Kumar,12,12,12,12,12,12,12,12
Jawala Prakash,5,5,5,5,5,5,5,5
Jayant Kumar,2,2,2,2,2,2,2,2
Jaydeep Dixit,13,13,13,13,13,13,13,13
Khushboo Priya,13,13,13,13,13,13,13,13
Madhulika G,8,8,8,8,8,8,8,8
Mahesh Sarade,4,4,4,4,4,4,4,4
Maitry,7,7,7,7,7,7,7,7
Manjunatha A,13,13,13,13,13,13,13,13
Mithun S,5,5,5,5,5,5,5,5
Mukesh,2,2,2,2,2,2,2,2
Mukesh Rao,1,1,1,1,1,1,1,1
Muskan Garg,2,2,2,2,2,2,2,2
Nandani Gupta,7,7,7,7,7,7,7,7
Nishtha Jain,6,6,6,6,6,6,6,6
Prabir Kumar Satapathy,6,6,6,6,6,6,6,6
Prateek _iot,9,9,9,9,9,9,9,9
Prerna Singh,9,9,9,9,9,9,9,9
Rishav Dash,3,3,3,3,3,3,3,3
Saikumarreddy N,8,8,8,8,8,8,8,8
Sandipan Saha,1,1,1,1,1,1,1,1
Sanjeev Kumar,11,11,11,11,11,11,11,11
Saurabh Shukla,2,2,2,2,2,2,2,2
Shiva Srivastava,1,1,1,1,1,1,1,1
Shivan K,9,9,9,9,9,9,9,9
Shivananda Sonwane,17,17,17,17,17,17,17,17
Shubham Sharma,12,12,12,12,12,12,12,12
Sowmiya Sivakumar,1,1,1,1,1,1,1,1
Sudhanshu Kumar,2,2,2,2,2,2,2,2
Suraj S Bilgi,1,1,1,1,1,1,1,1
Swati,7,7,7,7,7,7,7,7
Vivek,1,1,1,1,1,1,1,1
Wasim,10,10,10,10,10,10,10,10
Zeeshan,3,3,3,3,3,3,3,3

## 9.   Average weekly response time for each agent

In [82]:
ap.groupby(['Agent Name','week'])['Average Response Time'].mean()

Agent Name  week
Abhishek    26      1659916800000000000
            27      1659916800000000000
            28      1659916800000000000
            29      1659916800000000000
            30      1659916800000000000
                           ...
Zeeshan     26      1659916800000000000
            27      1659916823571428608
            28      1659916923428571136
            29      1659916862857142784
            30      1659916863833333504
Name: Average Response Time, Length: 350, dtype: int64

## 10.Average weekly response time for each agent

In [81]:
ap.groupby(['Agent Name','week'])['Average Response Time'].mean()

Agent Name  week
Abhishek    26      1659916800000000000
            27      1659916800000000000
            28      1659916800000000000
            29      1659916800000000000
            30      1659916800000000000
                           ...
Zeeshan     26      1659916800000000000
            27      1659916823571428608
            28      1659916923428571136
            29      1659916862857142784
            30      1659916863833333504
Name: Average Response Time, Length: 350, dtype: int64

## 11.list of all agents name

In [69]:
ap['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

## 12. Percentage of chat on which they have received a feedback

In [71]:
ap['Feedback Percentage'] = ap['Total Feedback']/ap['Total Chats'] * 100
ap.groupby('Agent Name')['Feedback Percentage'].mean()

Agent Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    58.067722
Aditya_iot       60.188561
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            47.666667
Wasim            66.449262
Zeeshan          65.002151
Name: Feedback Percentage, Length: 70, dtype: float64

## 13. Total contributation hour for each and every agents weekly basis

In [87]:
alr['week']=alr['Date'].dt.weekofyear

In [89]:
alr['New Duration'] = pd.to_timedelta(alr['Duration'])

In [90]:
alr.groupby(['Agent','week'])['New Duration'].sum()

Agent          week
Aditya Shinde  30      0 days 00:02:10
Aditya_iot     29      0 days 06:05:43
               30      0 days 09:38:09
Amersh         30      0 days 03:03:50
Ameya Jain     29      1 days 00:04:59
                            ...
Tarun          26     21 days 10:08:20
Wasim          29      0 days 19:37:32
               30      1 days 04:33:13
Zeeshan        29      1 days 00:25:39
               30      1 days 00:39:40
Name: New Duration, Length: 89, dtype: timedelta64[ns]