1.Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples:

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [5]:
def is_symmetrical(num):
    if str(num) == str(num)[::-1]:
        return True
    return False

In [6]:
is_symmetrical(7227)

True

In [7]:
is_symmetrical(12567)

False

In [8]:
is_symmetrical(44444444)

True

In [9]:
is_symmetrical(9939)

False

In [10]:
is_symmetrical(1112111)

True

2.Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples:

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [11]:
def multiply_nums(string):
    actual = string.replace(' ','').split(',')
    product = 1
    for ele in actual:
        product*= int(ele)
    return product

In [12]:
multiply_nums("2, 3")

6

In [13]:
multiply_nums("1, 2, 3, 4")

24

In [14]:
multiply_nums("54, 75, 453, 0")

0

In [15]:
multiply_nums("10, -2")

-20

3.Create a function that squares every digit of a number.

Examples:

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes:

The function receives an integer and must return an integer.

In [28]:
def square_digits(num):
    res = [str(int(ele)**2) for ele in str(num)]
    res = ''.join(res)
    print(res)

In [29]:
square_digits(9119)

811181

In [30]:
square_digits(2483)

416649

In [31]:
square_digits(3212)

9414

4.Create a function that sorts a list and removes all duplicate items from it.

Examples:

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [32]:
def setify(list):
    result = sorted(set(list))
    return result

In [33]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [34]:
setify([4, 4, 4, 4])

[4]

In [35]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [36]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

5.Create a function that returns the mean of all digits.

Examples:

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes:

1.The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

2.The mean will always be an integer.

In [43]:
def mean(digits):
    list = [int(val) for val in str(digits)]
    mean = sum(list)/len(list)
    return mean

In [44]:
mean(42)

3.0

In [45]:
mean(12345)

3.0

In [46]:
mean(666)

6.0